
/* Nagłówki */
h1, h2 {
    color: rgb(0, 0, 0);
    text-align: center;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.5em;
    margin-top: 30px;
}
#navbarNav.collapsing,
#navbarNav.collapse {
    display: none;
}

.navbar-toggler {
    margin: 0;
    padding: 0;
}

@media (min-width: 992px) {
    #navbarNav {
        display: flex !important;
        background-color: transparent;
    }
}