<!DOCTYPE html>
<html data-bs-theme="light" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>About us - Brand</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css?h=b98aa1fdada8994f0f6406c773f16895">
    <link rel="stylesheet" href="/assets/css/styles.min.css?h=a01b5fe27f528ee72561d26816b929dc">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/assets/css/order.css">
</head>
<body style="background:linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)), url('/assets/img/bg.jpg?h=309ac301e059090adb26b54519389d83');">
<a href="/userbasket.html" class="cart-icon">
    <img src="/assets/img/basket.jpg" alt="Cart">
</a>
<h1 class="text-center text-white d-none d-lg-block site-heading"><span class="text-primary site-heading-upper mb-3">Drink order&nbsp;</span></h1>
<nav class="navbar navbar-expand-lg bg-dark py-lg-4 navbar-dark" id="mainNav">
    <div class="container"><a class="navbar-brand text-uppercase d-lg-none" href="#">Brand</a>
        <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navbarResponsive"><span
                class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
    </div>
</nav><!-- Start: Sidebar With Icons -->
<div class="bg-body shadow d-flex flex-column flex-shrink-0 position-fixed top-0 bottom-0" style="width: 4.5rem;"><a
        class="text-center link-body-emphasis d-block p-3 text-decoration-none border-bottom" href="/" title=""
        data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Icon-only">
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16"
         class="bi bi-bootstrap-fill" style="font-size: 25px;">
        <path d="M6.375 7.125V4.658h1.78c.973 0 1.542.457 1.542 1.237 0 .802-.604 1.23-1.764 1.23zm0 3.762h1.898c1.184 0 1.81-.48 1.81-1.377 0-.885-.65-1.348-1.886-1.348H6.375v2.725z"></path>
        <path d="M4.002 0a4 4 0 0 0-4 4v8a4 4 0 0 0 4 4h8a4 4 0 0 0 4-4V4a4 4 0 0 0-4-4h-8zm1.06 12V3.545h3.399c1.587 0 2.543.809 2.543 2.11 0 .884-.65 1.675-1.483 1.816v.1c1.143.117 1.904.931 1.904 2.033 0 1.488-1.084 2.396-2.888 2.396z"></path>
    </svg>
    <span class="visually-hidden">Icon-only</span></a>
    <ul class="nav nav-pills flex-column text-center nav-flush mb-auto">
        <li class="nav-item"><a class="nav-link active link-light py-3 border-bottom rounded-0" href=""
                                aria-current="page">
            <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="1em" viewBox="0 0 24 24"
                 width="1em" fill="currentColor" style="font-size: 36px;">
                <g>
                    <rect fill="none" height="24" width="24"></rect>
                </g>
                <g>
                    <path d="M2,19h20l-2,2H4L2,19z M5,6h1v1H5V6z M5,4h1v1H5V4z M9,4v1H7V4H9z M9,7H7V6h2V7z M6,15.23c-0.36,0.11-0.69,0.28-1,0.47V8h1 V15.23z M4,16.52C3.62,16.96,3.32,17.45,3.16,18h16.82c0.01-0.16,0.03-0.33,0.03-0.5c0-3.04-2.46-5.5-5.5-5.5 c-2.29,0-4.25,1.4-5.08,3.4C8.84,15.15,8.19,15,7.5,15c-0.17,0-0.33,0.02-0.5,0.04V8h2c1.03,0.06,1.9-0.96,2-2h10V5H11 c-0.1-1.05-0.97-1.97-2-2H3v1h1v1H3v1h1v1H3v1h1V16.52z"></path>
                </g>
            </svg>
        </a></li>
        <li class="nav-item"><a class="nav-link py-3 border-bottom rounded-0" href="snacks.html">
            <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 24 24" width="1em" fill="currentColor"
                 style="font-size: 36px;">
                <path d="M0 0h24v24H0z" fill="none"></path>
                <path d="M21 3H3c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h5v2h8v-2h5c1.1 0 1.99-.9 1.99-2L23 5c0-1.1-.9-2-2-2zm0 14H3V5h18v12z"></path>
            </svg>
        </a></li>
        <li class="nav-item"><a class="nav-link py-3 border-bottom rounded-0" href="">
            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none"
                 style="font-size: 36px;">
                <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M6 4H18C18.5523 4 19 4.44772 19 5V8H5V5C5 4.44772 5.44771 4 6 4ZM19 19V10H5V19C5 19.5523 5.44772 20 6 20H18C18.5523 20 19 19.5523 19 19ZM3 5C3 3.34315 4.34315 2 6 2H18C19.6569 2 21 3.34315 21 5V19C21 20.6569 19.6569 22 18 22H6C4.34315 22 3 20.6569 3 19V5ZM7 5C6.44772 5 6 5.44772 6 6C6 6.55228 6.44772 7 7 7H9C9.55228 7 10 6.55228 10 6C10 5.44772 9.55228 5 9 5H7ZM14 7C14.5523 7 15 6.55228 15 6C15 5.44772 14.5523 5 14 5C13.4477 5 13 5.44772 13 6C13 6.55228 13.4477 7 14 7ZM18 6C18 6.55228 17.5523 7 17 7C16.4477 7 16 6.55228 16 6C16 5.44772 16.4477 5 17 5C17.5523 5 18 5.44772 18 6ZM14 15C14 16.1046 13.1046 17 12 17C10.8954 17 10 16.1046 10 15C10 13.8954 10.8954 13 12 13C13.1046 13 14 13.8954 14 15ZM16 15C16 17.2091 14.2091 19 12 19C9.79086 19 8 17.2091 8 15C8 12.7909 9.79086 11 12 11C14.2091 11 16 12.7909 16 15Z"
                      fill="currentColor"></path>
            </svg>
        </a></li>
        <li class="nav-item"></li>
        <li class="nav-item"></li>
    </ul>
</div><!-- End: Sidebar With Icons -->
<section class="page-section about-heading">
    <div class="container">
        <div class="about-heading-content">
            <div class="row">
                <div class="col-lg-10 col-xl-9 mx-auto">
                    <div class="bg-faded rounded p-5"><h2 class="section-heading mb-4"></h2>
                        <p class="mb-0"></p>
                        <div class="table-responsive">
                            <h1>Drink List</h1>
                            <table>
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Price in euro</th>
                                    <th>Capacity/Pieces</th>
                                    <th>Quantity</th>
                                </tr>
                                </thead>
                                <tbody id="drinkTableBody"></tbody>
                            </table>

                            <script src="/assets/js/drinkOrder.js">

                            </script>
                            <a href="basket.html">
                                <button onclick="submitQuantities()">Add to basket</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="text-center footer text-faded py-5">
    <div class="container"><p class="m-0 small">Project created by Michał Pielewski</p></div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
<script src="/assets/js/script.min.js?h=2b753d36679df5e80412b4467a8c2c87"></script>
</body>
</html>