<!DOCTYPE html>
<html data-bs-theme="light" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Index</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css?h=b98aa1fdada8994f0f6406c773f16895">
    <link rel="stylesheet" href="/assets/css/styles.min.css?h=b547692cfcf7aa3c2cb652c979292472">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css"
          crossorigin="anonymous">
</head>
<body style="background:linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)), url('/assets/img/bg.jpg?h=309ac301e059090adb26b54519389d83');">
<section style="background: transparent;"><!-- Start: Login Signup in Modal -->
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <nav class="navbar navbar-expand-md sticky-top navbar-light" style="background: transparent;">
                    <div class="container-fluid">
                        <button class="navbar-toggler" data-bs-toggle="collapse"><span class="visually-hidden">Toggle navigation</span><span
                                class="navbar-toggler-icon"></span></button>
                        <div></div>
                        <a class="btn btn-primary btn-lg" role="button" href="/login.html">Log in</a></div>
                </nav>
            </div>
        </div>
    </div><!-- End: Login Signup in Modal --></section>
<h1 class="text-center text-white d-none d-lg-block site-heading"><span class="text-primary site-heading-upper mb-3">Welcome to</span><span
        class="site-heading-lower">Aisling Guest house</span></h1><span></span>
<nav class="navbar navbar-expand-lg bg-dark py-lg-4 navbar-dark" id="mainNav">
    <div class="container"><a class="navbar-brand text-uppercase d-lg-none" href="#">Brand</a>
        <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navbarResponsive"><span
                class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item"><a class="nav-link" href="/index.html">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/about.html">About Us</a></li>
                <li class="nav-item"><a class="nav-link" href="/products.html">Products</a></li>
                <li class="nav-item">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link active" href="/reservation.html"><span
                                style="background-color: transparent;">reservation&nbsp;</span></a></li>
                        <li class="nav-item"><a class="nav-link" href="/store.html">Store</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link" href="/order.html">order</a></li>
            </ul>
        </div>
    </div>
</nav>
<section class="page-section clearfix">
    <div class="container">
        <div class="intro">
            <div class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="3000" id="carousel-1">
                <div class="carousel-inner">
                    <div class="carousel-item active"><img class="w-100 d-block"
                                                           src="/assets/img/breakFastRoomIntro.jpg?h=869b1c0117c24ba64fa6eaf665965d77"
                                                           alt="Slide Image" loading="eager"></div>
                    <div class="carousel-item"><img class="w-100 d-block"
                                                    src="/assets/img/dinnerTime.jpg?h=fbd3852848085e46ea572fcd066554a2"
                                                    alt="Slide Image"></div>
                    <div class="carousel-item"><img class="w-100 d-block"
                                                    src="/assets/img/RestRoom.jpg?h=deba5f3a1b593d771e772ba4e99786d0"
                                                    alt="Slide Image"></div>
                    <div class="carousel-item"><img class="w-100 d-block"
                                                    src="/assets/img/1%20bnb.jpg?h=b2b383d72b07231214b25d7e8f399413"
                                                    alt="Slide Image"></div>
                    <div class="carousel-item"><img class="w-100 d-block"
                                                    src="/assets/img/2%20bnb.jpg?h=3b01d8b225e7c85158ceb2a61bf7ecf1"
                                                    alt="Slide Image"></div>
                    <div class="carousel-item"><img class="w-100 d-block"
                                                    src="/assets/img/3%20bnb.jpg?h=3b01d8b225e7c85158ceb2a61bf7ecf1"
                                                    alt="Slide Image"></div>
                    <div class="carousel-item"><img class="w-100 d-block"
                                                    src="/assets/img/4%20bnb.jpg?h=3b01d8b225e7c85158ceb2a61bf7ecf1"
                                                    alt="Slide Image"></div>
                    <div class="carousel-item"><img class="w-100 d-block"
                                                    src="/assets/img/5%20bnb.jpg?h=3b01d8b225e7c85158ceb2a61bf7ecf1"
                                                    alt="Slide Image"></div>
                    <div class="carousel-item"><img class="w-100 d-block"
                                                    src="/assets/img/6%20bnb.jpg?h=3b01d8b225e7c85158ceb2a61bf7ecf1"
                                                    alt="Slide Image"></div>
                    <div class="carousel-item"><img class="w-100 d-block"
                                                    src="/assets/img/8%20bnb.jpg?h=3b01d8b225e7c85158ceb2a61bf7ecf1"
                                                    alt="Slide Image"></div>
                    <div class="carousel-item"><img class="w-100 d-block"
                                                    src="/assets/img/9%20bnb.jpg?h=3b01d8b225e7c85158ceb2a61bf7ecf1"
                                                    alt="Slide Image"></div>
                </div>
                <div><!-- Start: Previous --><a class="carousel-control-prev" href="#carousel-1" role="button"
                                                data-bs-slide="prev"><span
                        class="carousel-control-prev-icon"></span><span class="visually-hidden">Previous</span></a>
                    <!-- End: Previous --><!-- Start: Next --><a class="carousel-control-next" href="#carousel-1"
                                                                 role="button" data-bs-slide="next"><span
                            class="carousel-control-next-icon"></span><span class="visually-hidden">Next</span></a>
                    <!-- End: Next --></div>
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carousel-1" data-bs-slide-to="0" class="active"></button>
                    <button type="button" data-bs-target="#carousel-1" data-bs-slide-to="1"></button>
                    <button type="button" data-bs-target="#carousel-1" data-bs-slide-to="2"></button>
                    <button type="button" data-bs-target="#carousel-1" data-bs-slide-to="3"></button>
                    <button type="button" data-bs-target="#carousel-1" data-bs-slide-to="4"></button>
                    <button type="button" data-bs-target="#carousel-1" data-bs-slide-to="5"></button>
                    <button type="button" data-bs-target="#carousel-1" data-bs-slide-to="6"></button>
                    <button type="button" data-bs-target="#carousel-1" data-bs-slide-to="7"></button>
                    <button type="button" data-bs-target="#carousel-1" data-bs-slide-to="8"></button>
                    <button type="button" data-bs-target="#carousel-1" data-bs-slide-to="9"></button>
                    <button type="button" data-bs-target="#carousel-1" data-bs-slide-to="10"></button>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="page-section cta" style="background: transparent;">
    <div class="container"><label class="form-label"></label></div>
</section>
<footer class="text-center footer text-faded py-5">
    <div class="container"><p class="m-0 small">Project created by Michał Pielewski</p></div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
<script src="/assets/js/script.min.js?h=2b753d36679df5e80412b4467a8c2c87"></script>
</body>
</html>