<!DOCTYPE html>
<html data-bs-theme="light" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>About us - Brand</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css?h=b98aa1fdada8994f0f6406c773f16895">
    <link rel="stylesheet" href="/assets/css/styles.min.css?h=a01b5fe27f528ee72561d26816b929dc">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/assets/css/order.css">
</head>
<body style="background:linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)), url('/assets/img/bg.jpg?h=309ac301e059090adb26b54519389d83');">
<a href="/userbasket.html" class="cart-icon">
    <img src="/assets/img/basket.jpg" alt="Cart">
</a>
<h1 class="text-center text-white d-none d-lg-block site-heading"><span class="text-primary site-heading-upper mb-3">Drink order&nbsp;</span></h1>
<nav class="navbar navbar-expand-lg bg-dark py-lg-4 navbar-dark" id="mainNav">
    <div class="container"><a class="navbar-brand text-uppercase d-lg-none" href="#">Brand</a>
        <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navbarResponsive"><span
                class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
    </div>
</nav><!-- Start: Sidebar With Icons -->
<div class="bg-body shadow d-flex flex-column flex-shrink-0 position-fixed top-0 bottom-0" style="width: 4.5rem;"><a
        class="text-center link-body-emphasis d-block p-3 text-decoration-none border-bottom" href="/" title=""
        data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Icon-only">
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16"
         class="bi bi-bootstrap-fill" style="font-size: 25px;">
        <path d="M6.375 7.125V4.658h1.78c.973 0 1.542.457 1.542 1.237 0 .802-.604 1.23-1.764 1.23zm0 3.762h1.898c1.184 0 1.81-.48 1.81-1.377 0-.885-.65-1.348-1.886-1.348H6.375v2.725z"></path>
        <path d="M4.002 0a4 4 0 0 0-4 4v8a4 4 0 0 0 4 4h8a4 4 0 0 0 4-4V4a4 4 0 0 0-4-4h-8zm1.06 12V3.545h3.399c1.587 0 2.543.809 2.543 2.11 0 .884-.65 1.675-1.483 1.816v.1c1.143.117 1.904.931 1.904 2.033 0 1.488-1.084 2.396-2.888 2.396z"></path>
    </svg>
    <span class="visually-hidden">Icon-only</span></a>
    <ul class="nav nav-pills flex-column text-center nav-flush mb-auto">
        <li class="nav-item"><a class="nav-link active link-light py-3 border-bottom rounded-0" href=""
                                aria-current="page">
            <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="1em" viewBox="0 0 24 24" width="1em" fill="currentColor" style="font-size: 36px;">
                <rect fill="none" height="24" width="24"></rect>
                <path d="M12,2c-5.33,4.55-8,8.48-8,11.8c0,4.98,3.8,8.2,8,8.2s8-3.22,8-8.2C20,10.48,17.33,6.55,12,2z M7.83,14 c0.37,0,0.67,0.26,0.74,0.62c0.41,2.22,2.28,2.98,3.64,2.87c0.43-0.02,0.79,0.32,0.79,0.75c0,0.4-0.32,0.73-0.72,0.75 c-2.13,0.13-4.62-1.09-5.19-4.12C7.01,14.42,7.37,14,7.83,14z"></path>
            </svg>
        </a></li>
        <li class="nav-item"><a class="nav-link py-3 border-bottom rounded-0" href="snacks.html">
            <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 24 24" width="1em" fill="currentColor" style="font-size: 36px;">     <path d="M0 0h24v24H0z" fill="none"></path>     <path d="M18.06 22.99h1.66c.84 0 1.53-.64 1.63-1.46L23 5.05h-5V1h-1.97v4.05h-4.97l.3 2.34c1.71.47 3.31 1.32 4.27 2.26 1.44 1.42 2.43 2.89 2.43 5.29v8.05zM1 21.99V21h15.03v.99c0 .55-.45 1-1.01 1H2.01c-.56 0-1.01-.45-1.01-1zm15.03-7c0-8-15.03-8-15.03 0h15.03zM1.02 17h15v2h-15z"></path> </svg>
        </a></li>
        <li class="nav-item"><a class="nav-link py-3 border-bottom rounded-0" href="">
            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none"
                 style="font-size: 36px;">
                <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M6 4H18C18.5523 4 19 4.44772 19 5V8H5V5C5 4.44772 5.44771 4 6 4ZM19 19V10H5V19C5 19.5523 5.44772 20 6 20H18C18.5523 20 19 19.5523 19 19ZM3 5C3 3.34315 4.34315 2 6 2H18C19.6569 2 21 3.34315 21 5V19C21 20.6569 19.6569 22 18 22H6C4.34315 22 3 20.6569 3 19V5ZM7 5C6.44772 5 6 5.44772 6 6C6 6.55228 6.44772 7 7 7H9C9.55228 7 10 6.55228 10 6C10 5.44772 9.55228 5 9 5H7ZM14 7C14.5523 7 15 6.55228 15 6C15 5.44772 14.5523 5 14 5C13.4477 5 13 5.44772 13 6C13 6.55228 13.4477 7 14 7ZM18 6C18 6.55228 17.5523 7 17 7C16.4477 7 16 6.55228 16 6C16 5.44772 16.4477 5 17 5C17.5523 5 18 5.44772 18 6ZM14 15C14 16.1046 13.1046 17 12 17C10.8954 17 10 16.1046 10 15C10 13.8954 10.8954 13 12 13C13.1046 13 14 13.8954 14 15ZM16 15C16 17.2091 14.2091 19 12 19C9.79086 19 8 17.2091 8 15C8 12.7909 9.79086 11 12 11C14.2091 11 16 12.7909 16 15Z"
                      fill="currentColor"></path>
            </svg>
        </a></li>
        <li class="nav-item"></li>
        <li class="nav-item"></li>
    </ul>
</div><!-- End: Sidebar With Icons -->
<section class="page-section about-heading">
    <div class="container">
        <div class="about-heading-content">
            <div class="row">
                <div class="col-lg-10 col-xl-9 mx-auto">
                    <div class="bg-faded rounded p-5"><h2 class="section-heading mb-4"></h2>
                        <p class="mb-0"></p>
                        <div class="table-responsive">
                            <h1>Drink List</h1>
                            <table>
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Price in euro</th>
                                    <th>Capacity (ml)</th>
                                    <th>Quantity</th>
                                </tr>
                                </thead>
                                <tbody id="drinkTableBody"></tbody>
                            </table>

                            <script src="/assets/js/drinkOrder.js">

                            </script>
                            <a href="basket.html">
                                <button onclick="submitQuantities()">Add to basket</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="text-center footer text-faded py-5">
    <div class="container"><p class="m-0 small">Project created by Michał Pielewski</p></div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
<script src="/assets/js/script.min.js?h=2b753d36679df5e80412b4467a8c2c87"></script>
</body>
</html>